<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.jandar.dao.leiDao">
<select id="query"  resultType="com.jandar.pojo.lei">
select * from lei
<where>
 <if test = "goodsLei != null and goodsLei != ''">
     and goodsLei = #{goodsLei}
   </if>
   
</where>
  limit #{currentnum},#{rows};
</select>

<select id="query1"  resultType="com.jandar.pojo.lei">
select * from lei
<where>
 <if test = "goodsLei != null and goodsLei != ''">
     and goodsLei = #{goodsLei}
   </if>
   
</where>
</select>
<select id="querycount" resultType="int">
select count(*) from lei
<where>
 <if test = "goodsLei != null and goodsLei != ''">
     and goodsLei = #{goodsLei}
   </if>
   
</where>
</select>



<insert id="insert">insert into lei(goodsLei) values(#{goodsLei})</insert>

</mapper>